html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

#home-icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-header-icon:hover {
    cursor: default;
}

.message-area {
    margin: 1.5rem;
}

#months-content {
    margin-top: 3rem;
}

#forgot-pass {
    margin-top: 1rem;
    margin-left: 1rem;
}

#months {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
}

.month-margin {
    margin-left: 0.75rem !important;
}

.month-dropdown {
    margin-top: 1rem;
}

.month-text-col {
    margin-bottom: 0.3rem !important;
}

.field-body {
    justify-content: center;
}

.field-body > .control {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

#year {
    max-width: 8.5rem;
}

.rounded {
    border-radius: 5px;
}

.col-hover:hover {
    background-color: hsla(242, 100%, 0%, 0.05);
    cursor: pointer;
}
