html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

#small-content {
	margin-top: 2rem;
}

#months-content {
    margin-top: 5rem;
}

#forgot-pass {
    margin-top: 1rem;
    margin-left: 1rem;
}

#months {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
}

.btns-margin {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.month-margin {
    margin-left: 0.75rem !important;
}

.field-body {
    justify-content: center;
}

.field-body > .control {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

#year {
    max-width: 5.6rem;
}

.rounded {
    border-radius: 5px;
}

.download-btn {
    min-width: 54px;
}

.btn-space {
    margin-bottom: 0.3rem;
}

.col-hover:hover {
    background-color: hsl(141, 71%, 48%) !important;
    cursor: pointer;
}
