html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

#home-icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-header-icon:hover {
    cursor: default;
}

.message-area {
    margin: 1.5rem;
}

#months-content {
    margin-top: 3rem;
}

#forgot-pass {
    margin-top: 1rem;
    margin-left: 1rem;
}

#months {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
}

.month-margin {
    margin-left: 0.75rem !important;
}

.month-dropdown {
    margin-top: 1rem;
}

.month-text-col {
    margin-bottom: 0.3rem !important;
}

.field-body {
    justify-content: center;
}

.field-body > .control {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.center-fix {
    margin-left: 0.5rem;
    margin-top: 0;
}

#year {
    max-width: 8.5rem;
}

.rounded {
    border-radius: 5px;
}

.col-hover:hover {
    background-color: hsla(242, 100%, 0%, 0.05);
    cursor: pointer;
}

.table {
    margin: auto;
    max-width: 93%;
}

#expenses-header {
    margin-left: 3.5%;
    margin-right: 3.5%;
    max-width: 93%;
    margin-bottom: 1rem;
}

#buttons-left {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
}

#buttons-right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

.expense-header-cols {
    vertical-align: bottom;
}

.expense-col {
    min-width: 15rem;
}

#add-trigger {
    margin-left: 0.3rem;
}

.expense-toggle {
    position: relative;
}

.short, .single {
    padding: 8px 12px;
}

.full {
    position: absolute;
    background-color: white;
    z-index: 31;
    padding: 8px 12px;
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

.hidden {
    display: none;
}

.descr-icon {
    float: right;
}

.descr-icon:hover {
    color: hsl(171, 100%, 41%) !important;
    cursor: pointer;
}

.trash-icon:hover {
    color: hsl(348, 100%, 61%) !important;
    cursor: pointer;
}

.edit-icon:hover {
    color: hsl(217, 71%, 53%) !important;
    cursor: pointer;
}

.one-fourth-table-col {
    width: 25%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color:  hsla(0, 0%, 48%, 0.9);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 31;
    bottom: 110%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsla(0, 0%, 48%, 0.9) transparent transparent transparent;
  } 

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip:hover {
    cursor: pointer;
}
