{% extends 'base.html' %}
{% block content %}
<form id="months-content" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="field is-horizontal"></div>
    <div class="field-body">
      <p class="control has-icons-left">
        {% if form.year.errors %}
          {{ form.year(class="input is-danger is-large", placeholder="Year") }}
        {% else %}
          {{ form.year(class="input is-large", placeholder="Year") }}
        {% endif %}
        <span class="icon is-small is-left">
          <i class="fas fa-calendar-alt"></i>
        </span>
      </p>
      <p class="control">
        {% if form.month.errors %}
        <span class="select is-large is-danger"></span>
          {% for error in form.month.errors %}
            <span class="has-text-danger">{{ error }}</span>
          {% endfor %}
        {% else %}
          <span class="select is-large">
        {% endif %}
        {{ form.month(placeholder="Month") }}
        </span>
      </p>
      <p class="control">
        {{ form.submit(class="button is-primary is-large") }}
      </p>
    </div>
  </div>
  <div class="has-text-centered">
    {% for error in form.year.errors %}
      <span class="has-text-danger">{{ error }}</span>
      <br>
    {% endfor %}
  </div>
</form>

<div class="columns is-1 is-multiline" id="months">
  {% for user in user_months %}
    <div class="column is-one-third ">
      {% if user.year < cr_year or user.year == cr_year and user.month < cr_month %}
      <div class="has-background-info rounded">
      {% else %}
      <div class="has-background-primary rounded">
      {% endif %}
        <div class="col-hover">
          <div class="columns is-gapless">
            <div class="column is-three-quarters has-text-centered month-margin month-text-col">
              <h3 class="is-size-3 has-text-white-ter has-text-weight-semibold">
                {{ months[user.month - 1] }}
              </h3 class="">
              <span class="is-size-5 has-text-white-ter">{{ user.year }}</span>
            </div>
            <div class="column">
              <div class="dropdown month-dropdown">
                <div class="dropdown-trigger">
                  <button class="button is-medium is-light is-outlined">
                    <span class="icon is-small">
                      <i class="fas fa-angle-down"></i
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      PDF
                    </a>
                    <a href="#" class="dropdown-item">
                      XLSX
                    </a>
                    <a href="#" class="dropdown-item">
                      Delete
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}
