{% extends 'base.html' %}
{% block content %}
<div id="expenses-header">
  <div class="is-pulled-left">
    <a href="{{ url_for('expenses.main') }}">
      <div class="tooltip"">
        <span class="icon has-text-info is-medium">
          <i class="fas fa-arrow-left fa-2x"></i>
        </span>
        <span class="tooltip-text">Go back</span>
      </div>
    </a>
    <div class="tooltip" id="add-trigger">
      <span class="icon has-text-success is-medium">
        <i class="fas fa-plus fa-2x"></i>
      </span>
      <span class="tooltip-text">Add new</span>
    </div>
  </div>
  <div class="is-pulled-right">
    <a href="{{ url_for('expenses.download_pdf', month_id=month.id) }}">
      <div class="tooltip">
        <span class="icon has-text-primary is-medium">
          <i class="fas fa-file-pdf fa-2x"></i>
        </span>
        <span class="tooltip-text">Download PDF</span>
      </div>
    </a>
    <a href="{{ url_for('expenses.download_xlsx', month_id=month.id) }}">
      <div class="tooltip">
        <span class="icon has-text-primary is-medium">
          <i class="fas fa-file-excel fa-2x"></i>
        </span>
        <span class="tooltip-text">Download XLSX</span>
      </div>
    </a>
    <div class="tooltip">
      <a href="{{ url_for('expenses.delete_month', month_id=month.id) }}">
        <span class="icon has-text-danger is-medium">
          <i class="fas fa-trash-alt fa-2x"></i>
        </span>
      </a>
      <span class="tooltip-text">Delete month</span>
    </div>
  </div>
</div>

<table class="table is-hoverable is-bordered is-fullwidth">
	<thead>
	  <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Description</th>
      <th>Actions</th>
	  </tr>
  </thead>
  <tbody>
    {% for expense in month.expenses %}
      <tr>
        <td class="expense-col">{{ expense.amount }}</td>
        <td class="expense-col">{{ expense.category }}</td>
        <td class="expense-col is-paddingless">
          <div class="expense-toggle">
            {% if expense.has_short_descr %}
            <div class="short">
              <span class="icon has-text-grey descr-icon">
                <i class="fas fa-angle-down fa-lg"></i>
              </span>
              {{ expense.short_descr }}
            </div>
            <div class="full hidden">
              <span class="icon has-text-info descr-icon">
                <i class="fas fa-angle-up fa-lg"></i>
              </span>
            {% else %}
            <div class="single">
            {% endif %}
              {{ expense.description }}
            </div>
          </div>
        </td>
        <td class="has-text-centered">
          <span
            class="icon has-text-grey edit-icon"
            data-id="{{ expense.id }}"
            data-amount="{{ expense.amount }}"
            data-category="{{ expense.category }}"
            data-description="{{ expense.description }}"
          >
              <i class="fas fa-pencil-alt"></i>
          </span>
          <a href="{{ url_for('expenses.delete_expense', expense_id=expense.id) }}">
            <span class="icon has-text-grey trash-icon">
              <i class="fas fa-trash-alt"></i>
            </span>
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4" class="has-text-centered">You didn't add any expenses yet.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table is-hoverable is-bordered is-fullwidth">
  <thead>
    <tr>
      {% for elem_key in sums.keys() %}
        <th class="one-fourth-table-col">{{ elem_key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for elem_val in sums.values() %}
        {% if elem_val != 'None' %}
          <td>{{ elem_val }}</td>
        {% else %}
          <td>0</td>
        {% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>

{% with form = add_form, case = 'add' %}
  {% include 'form_modal.html' %}
{% endwith %}
{% with form = update_form, case = 'update' %}
  {% include 'form_modal.html' %}
{% endwith %}
{% endblock content %}
