{% extends "main.html" %}
{% block body %}
<main id="list_page" style="height:{{ height }}px;">
    <table>
        <tr>
            <td>kategoria</td>
            <td>nazwa</td>
            <td>kwota</td>
            <td>data</td>
            <td>usuń</td>
        </tr>
        {% for row in expenses %}
            <tr>
                <td>{{ row[4] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td><a href="/delete-expense/{row[0]}">usuń</a></td>
            </tr>
        {% endfor %}
    </table>
    <footer>
        <div>
            <a href="/">wróć do strony głównej</a>
        </div>
        <div>
            <a href="/get-pdf">Pobierz PDF</a>
        </div>
        <div>
            <a href="/get-xls">Pobierz XLS</a>
        </div>
    </footer>
</main>
{% endblock %}